<?xml version="1.0" encoding="UTF-8"?>
<web-app>

		<!--Admin Related tags-->

	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.nits.action.admin.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminProfile</servlet-name>
		<servlet-class>com.nits.action.admin.Profile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminProfile</servlet-name>
		<url-pattern>/AdminProfile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditProfile1</servlet-name>
		<servlet-class>com.nits.action.admin.EditProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfile1</servlet-name>
		<url-pattern>/EditProfile1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChangePass1</servlet-name>
		<servlet-class>com.nits.action.admin.ChangePass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePass1</servlet-name>
		<url-pattern>/ChangePass1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserList</servlet-name>
		<servlet-class>com.nits.action.admin.UserList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserList</servlet-name>
		<url-pattern>/UserList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ImageList</servlet-name>
		<servlet-class>com.nits.action.admin.ImageList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageList</servlet-name>
		<url-pattern>/ImageList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddImage</servlet-name>
		<servlet-class>com.nits.action.admin.AddImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddImage</servlet-name>
		<url-pattern>/AddImage</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AllocateImage</servlet-name>
		<servlet-class>com.nits.action.admin.AllocateImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllocateImage</servlet-name>
		<url-pattern>/AllocateImage</url-pattern>
	</servlet-mapping>
	
	
	
	<!--User User tags-->
	
	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>com.nits.action.user.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>com.nits.action.user.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/UserRegister</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserProfile</servlet-name>
		<servlet-class>com.nits.action.user.Profile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserProfile</servlet-name>
		<url-pattern>/UserProfile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditProfile2</servlet-name>
		<servlet-class>com.nits.action.user.EditProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfile2</servlet-name>
		<url-pattern>/EditProfile2</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChangePass2</servlet-name>
		<servlet-class>com.nits.action.user.ChangePass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePass2</servlet-name>
		<url-pattern>/ChangePass2</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ImageList1</servlet-name>
		<servlet-class>com.nits.action.user.ImageList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageList1</servlet-name>
		<url-pattern>/ImageList1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddImage1</servlet-name>
		<servlet-class>com.nits.action.user.AddImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddImage1</servlet-name>
		<url-pattern>/AddImage1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Inbox</servlet-name>
		<servlet-class>com.nits.action.user.Inbox</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inbox</servlet-name>
		<url-pattern>/Inbox</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HideProcess</servlet-name>
		<servlet-class>com.nits.action.user.HideProcess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HideProcess</servlet-name>
		<url-pattern>/HideProcess</url-pattern>
	</servlet-mapping>
	
</web-app>